.container {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
}

.form-title {
    background: url(../img/logo.png) no-repeat;
    background-position: left;
    padding-left: 40px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.form-title h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 10px;
}

.form-title p {
    font-size: 12px;
    margin-left: 10px;
}

.btn-submit:hover {
    transition: background-color 0.4s, color 0.4s;
    background: #FEE771;
    color: #000000;
}

.btn-submit {
    padding: 10px 20px;
    background: #ffffff;
    border: 1px solid #FEE357;
    border-radius: 5px;
    display: block;
    cursor: pointer;
    color: #8A8A8A;
    transition: background-color 0.4s, color 0.4s;
    outline: 0;
    margin: 0 auto;
    margin-bottom: 20px;
}

.errorMessage {
    color: red;
}