.row{
    margin: 0px;
    padding: 0px;
}
.row, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{
    padding: 0px;
}
.content-add input, .banner-input input, .speaker-info input, .content-info input{
    margin: 5px 0px 5px 0px;
}
.container {
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
    min-width: 1200px;
}
.form-control {
    font-size: 13px;
}
.btn {
    font-size: 13px;
}
.dropdown-menu {
    font-size: 13px;
}
.dropdown-header {
    font-size: 13px;
}
.badge {
    font-size: 13px;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-color: #ffcc33;
    color: #000;
    text-shadow:none;
}
.badge {
    font-weight: normal;
    color: #1f2831;
    background-color: #edd6b4;
}
.btn-add,
.btn-add:hover,
.btn-add:focus,
.btn-add.focus,
.btn-add:active,
.btn-add.active,
.open > .dropdown-toggle.btn-add{
    color: #fff;
    background-color: #1f2831;
    border-color: #ccc;
    -moz-border-color: #ccc;
    background: url(../img/plus.png) no-repeat 10px 7px;
    padding-left: 35px;
}

.btn-edit,
.btn-edit:hover,
.btn-edit:focus,
.btn-edit:active{
    color: #fff;
    background-color: #1f2831;
    border-color: #ccc;
    -moz-border-color: #ccc;
}

.btn-default-add,
.btn-default-add:hover,
.btn-default-add:focus,
.btn-default-add.focus,
.btn-default-add:active,
.btn-default-add.active,
.open > .dropdown-toggle.btn-add{
    background-color: #ffcc33;
    color: #000;
    text-shadow:none;
    border-color: #ccc;
    background: url(../img/plus.png) no-repeat 10px 7px;
    padding-left: 35px;
}

.form-horizontal .form-group{
    margin: 10px 0px 0px 15px;
    width: 100%
}
.form-group input{
    margin: 0px;
}
.form-group label{
    font-weight: normal;
    text-align: 13px;
    margin-top: 2px;
}
.form-control{
    text-align: 13px;
}
.btn-warning,
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
    color: #000;
    background-color: #f0ad4e;
    -moz-border-color: #eea236;
    border-color: #eea236;
}
.checkbox{
    text-align: center;
}
.checkbox input{
    margin-top: 5px;
}
.content-banners .form-group .col-xs-1{
    width: 11%;
}
.content-banners .form-group .col-xs-2{
    width: 20%;
}
.content-banners .form-group .col-xs-3{
    width: 30%;
}
.content-banners .col-xs-offset-2{
    margin-left: 19.33333333%;
}
.img-circle{
    text-align: center;
}

.delete-yes {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.delete-yes:hover,
.delete-yes:focus,
.delete-yes.focus,
.delete-yes:active,
.delete-yes.active, {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

.delete-no {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.delete-no:hover,
.delete-no:focus,
.delete-no.focus,
.delete-no:active,
.delete-no.active,
.open > .dropdown-toggle.delete-no {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.update-front-btn:hover,
.update-front-btn:focus,
.update-front-btn:active,
.update-front-btn {
    background-color: red;
    color: white;
}

.container-fluid {
    padding: 0;
}