@font-face {
    font-family: "Cuprum";
    src: url("../fonts/Cuprum_regular/cuprum-regular-webfont.eot");
    src: url("../fonts/Cuprum_regular/cuprum-regular-webfont.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Cuprum_regular/cuprum-regular-webfont.woff") format("woff"),
    url("../fonts/Cuprum_regular/cuprum-regular-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/Open Sans/OpenSansRegular.eot");
    src: url("../fonts/Open Sans/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Open Sans/OpenSansRegular.woff") format("woff"),
    url("../fonts/Open Sans/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PTSans";
    src: url("../fonts/Pt-sans/pts55f.eot");
    src: url("../fonts/Pt-sans/pts55f.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Pt-sans/pts55f.woff") format("woff"),
    url("../fonts/Pt-sans/pts55f.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PermianSansTypeface";
    src: url("../fonts/PermianSansTypeface/permiansanstypeface.eot");
    src: local('☺'),
    url("../fonts/PermianSansTypeface/permiansanstypeface.eot?#iefix") format("embedded-opentype"),
    url("../fonts/PermianSansTypeface/permiansanstypeface.woff") format("woff"),
    url("../fonts/PermianSansTypeface/permiansanstypeface.ttf") format("truetype"),
    url("../fonts/PermianSansTypeface/permiansanstypeface.svg#PermianSansTypeface") format("svg");
    font-weight: normal;
    font-style: normal;
}