body, html{    height: 100%;}.my-container{
                                 width: 100%;
                                 min-width: 980px;
                                 height: 100%;
                             }
.header{
    position: relative;
    background-color: red;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/back-header.png', sizingMethod='scale');
    background-size:100% 20px;
    padding: 0px 30px 0px 30px;
    height: 20px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-family: "OpenSans";
    text-align: left;
    line-height: 1.2;
}
.header-logo{
    -position: relative;
    display: inline-block;
}
.foreven {
    position: absolute;
    top: 2px;
    left: 25px;
    font-size: 14px;
    font-family: "PTSans";
    font-weight: bold;
    /*-moz-transform: matrix( 0.11597890211564,0,0,0.1139043932974,0,0);
    -webkit-transform: matrix( 0.11597890211564,0,0,0.1139043932974,0,0);
    -ms-transform: matrix( 0.11597890211564,0,0,0.1139043932974,0,0);
    /* IE8+ - must be on one line, unfortunately */
    /*-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.11597890211564, M22=0.1139043932974, SizingMethod='auto expand')";

    /* IE6 and 7  */
    /*filter: progid:DXImageTransform.Microsoft.Matrix(
            M11=0.11597890211564,
            M22=0.1139043932974,
            SizingMethod='auto expand');*/

}
.header-conference{
    padding-left: 30px;
}



/*.header-schedule.schedule-active{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -moz-border-top-left-radius: 5px;
    color: #000;
    background: url(../img/schedule-active-ico.png) no-repeat 10px 3px #fff;
}
.header-schedule.schedule-active span{
    -moz-border-bottom:1px dashed rgb(0, 0, 0);
    border-bottom:1px dashed rgb(0, 0, 0);
}
.header-schedule{
    background: url(../img/schedule-ico.png) no-repeat 10px 3px;
    z-index: 150;
    width: 130px;
    margin: auto;
    text-align: center;
    height: 22px;
    line-height: 0.9;
    margin-top: 1px;
    padding-left: 15px;
}
.header-schedule span{
    -moz-border-bottom:1px dashed rgb(255, 255, 255);
    border-bottom:1px dashed rgb(255, 255, 255);
}*/
.header-audience{
    text-align: right;
    font-size: 13px;
}




/*.main-content{
    position: relative;
    padding-right: 25%;
}*/
#video720, .main-content-height{
    position: relative;
    height: 0px;
    border-right: 3px solid #ffcc33;
    -moz-border-right: 3px solid #ffcc33;
}
#video720{
    border-right: none;
    -moz-border-right: none;
}
.main-content-height iframe{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}
.android-height iframe{
    height: 100%;
}
#video720 iframe{
    position: relative;
    width: 100%;
    height: 100%;
}



.main-content-info{
    position: relative;
    font-size: 18px;
    font-family: "OpenSans";
    color: rgb(0, 0, 0);
    line-height: 0.9;
    height: 100%;
}
.content-info{
    position: relative;
    width: 830px;
    padding-top: 15%;
    margin: auto;
}
.info-pic{
    position: absolute;
    left: 0px;
    width: 440px;
}
.info-cost{
    position: absolute;
    right: 0px;
    width: 350px;
}
.info-text{
    font-size: 12px;
    line-height: 1.5;
}
.info-text a, .info-text a:link, .info-text a:focus, .info-text a:active{
    border-bottom: 1px dashed #7f7f7f;
    -moz-border-bottom: 1px dashed #7f7f7f;
    text-decoration: none;
}
.info-title{
    margin-left: -10px;
}
.info-price{
    display: inline-block;
    margin: 20px 10px 20px 0px;
}
.item-1{
    margin-left: -20px;
}
.item-3{
    width: 33%;
}
.info-help{
    font-size: 10px;
    line-height: 1.2;
}
.info-btn{
    position: relative;
    margin-top: 40px;
}



.main-content-technical{
    position: relative;
    padding: 50px;
    font-size: 18px;
    font-family: "OpenSans";
    color: rgb(255, 255, 255);
    text-align: center;
    height: 100%;
}
.main-content-10minbreak{
    position: relative;
    padding: 50px;
    font-size: 18px;
    font-family: "OpenSans";
    text-align: center;
    color: rgb(0, 0, 0);
    height: 100%;
}

.main-content-technical img, .main-content-10minbreak img{
    margin: 35px;
}
.content-technical, .content-10minbreak{
    margin-top: 15%;
}
.content-technical-title, .content-10minbreak-title{
    font-size: 30px;
}




.schedule{
    position: relative;
    padding-top: 50px;
    background: #fff;
    border-right: 3px solid #ffcc33;
    -moz-border-right: 3px solid #ffcc33;
}
.schedule-close{
    position: absolute;
    top: 10px;
    right: 10px;
}
.schedule-day{
    vertical-align:top;
    display: inline-block;
    width: 19.6%;
    padding-bottom: 30px;
    text-align: center;
    font-size: 12px;
    font-family: "OpenSans";
    color: rgb(0, 0, 0);
}
.schedule-day img{
    width: 55px;
    height: 55px;
}
.past{
    color: #4c4c4c;
    border-radius: 50%;
    -moz-border-radius: 50%;
}
.schedule-day-date{
    margin: auto;
    padding-bottom: 10px;
}
.active-and-day_off{
    color: rgb(255, 102, 51);
}
.active-img img{
    border: 2px solid rgb(255, 102, 51);
    -moz-border: 2px solid rgb(255, 102, 51);
    padding: 2px;
    width: 59px;
    height: 59px;
}

.schedule-day-speaker{
    position: relative;
    font-size: 12px;
    font-family: "OpenSans";
    text-align: left;
}
.speaker-undefined{
    color: #000;
    font-weight: bold;
    margin: 10px 0px 0px 0px;
}
.speaker-day_off{
    border: 1px solid #cccccc;
    -moz-border: 1px solid #cccccc;
    border-radius: 2px;
    -moz-border-radius: 2px;
    text-align: center;
    margin-top: 10px;
}
.speaker-day_off p{
    padding-top: 5px;
}
.schedule-day-speaker-name{
    color: rgb(51, 102, 204);
    margin: 10px 0px 0px 0px;
}
.day-speaker-time{
    text-align: center;
}
.day-speaker-topic{

}



.block-right{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 25%;
}
.block-right-banner{
    width: 100%;
    height: 94px;
}
.block-right-vk{
    position: relative;
}


/*@media screen and (max-width: 1024px){
    .header-speaker, .header-schedule-text{
        display: none;
    }
    .main-content{
        padding-right: 0px;
    }
    .main-content-height{
        border: none;
        -moz-border: none;
    }
    .block-right{
        width: 100%;
    }
    .block-right-banner{
        float: left;
    }
    .block-right-banner img{
        width: 100%;
        height: 94px;
    }
}*/

.greeting-speaker {
    min-height: 100%;
    padding: 30px;
}

.conference-name {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
}

.conference-date {
    text-align: center;
    font-size: 26px;
}

.speaker-photo img{
    border-radius: 50%;
}

.speaker-photo {
    text-align: center;
    margin-bottom: 10px;
}

.speaker-name p,
.conference-info-label p{
    font-family: Arial;
    font-size: 24px;
    line-height: 25px;
    color: #AD0000;
}

.speaker-name {
    text-align: center;
}

.conference-time {
    width: 180px;
    float: left;
    margin-right: 15px;
}

.conference-time p {
    background-color: #FDE47F;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

.conference-region {
    padding: 0;
    font-weight: 700;
    width: 180px;
    font-size: 18px;
    float: left;
}

.features-label p,
.materials-label p {
    padding-left: 10px;
    font-weight: 700;
    font-size: 18px;
}

.features ul,
.materials ul {
    list-style-image: url(../img/icon/check.png);
    font-size: 18px;
}

.row-speaker {
    margin-bottom: 40px;
}

.spaker-images {
    margin-bottom: 60px;
}

.spaker-images img {
    margin-top: 5px;
}

.speaker-theme p{
    color: #000;
    font-size: 28px;
    font-weight: 700;
}

.speaker-image {
    height: 150px;
    margin-right: 5px;
    margin-bottom:5px;
}

.speaker-front-photo {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border-radius: 50%;
    width: 130px;
    height: 130px;
}

.room-content h1 {
    margin: 0;
    line-height: 28px;
    color: #C90000;
}

.main-content-info{
    position: relative;
    font-size: 18px;
    font-family: "OpenSans";
    color: rgb(0, 0, 0);
    line-height: 0.9;
    height: 100%;
}

/*.content-info{
    position: relative;
    width: 830px;
    padding-top: 15%;
    margin: auto;
}*/


.content-info{
    width: 100%;
    padding-top: 15%;
}

.content-info > img{
    float: left;
    width: 40%;
    margin-left: 15%;
}
.info-cost{
    float: left;
    width: 350px;
}

/*.info-pic{
    position: absolute;
    left: 0px;
    width: 440px;
}

.info-cost{
    position: absolute;
    right: 0px;
    width: 350px;
}*/
.info-text{
    font-size: 12px;
    line-height: 1.5;
}
.info-text a, .info-text a:link, .info-text a:focus, .info-text a:active{
    border-bottom: 1px dashed #7f7f7f;
    -moz-border-bottom: 1px dashed #7f7f7f;
    text-decoration: none;
}
.info-title{
    margin-left: -10px;
}
.info-price{
    display: inline-block;
    margin: 20px 10px 20px 0px;
}

.item-1{
    margin-left: -20px;
    position: relative;
}

.item-1 > p {
    display: block;
    position: absolute;
    font-size: 22px;
    top: 5px;
    left: 25px;
}

.old-price {
    position: relative;
}

.old-price > p {
    display: block;
    position: absolute;
    font-size: 20px;
    top: 5px;
    left: 5px;
}

.item-3{
    width: 33%;
}
.info-help{
    font-size: 10px;
    line-height: 1.2;
}
.info-btn{
    position: relative;
    margin-top: 40px;
}

.btn {
    border: 3px solid rgb(231, 186, 65);
    border-radius: 30px;
    width: 160px;
    font-size: 20px;
    font-family: "OpenSans";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    background-image: -moz-linear-gradient( 90deg, rgb(227,227,227) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(227,227,227) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(227,227,227) 0%, rgb(255,255,255) 100%);
}

.main-banner:link,
.main-banner:active,
.main-banner:visited,
.main-banner:hover {
    text-decoration: none;
    display: block;
    word-wrap: break-word;
}

.main-banner p {
    font-size: 15px;
    text-align: center;
    font-family: Arial, OpenSans;
}

.main-banner-button {
    display: block;
    width: 120px;
    height: 40px;
    background: url(../img/bg-button-banner.png) no-repeat;
    background-size: 100% 100%;
    text-align: center;
    color: #000000;
    font-family: OpenSans;
    font-weight: 600;
    border-radius: 5px;
    margin: 0 auto;
    color: #000;
    border: none;
    padding-top: 10px;
}

.fancybox-image-container:link,
.fancybox-image-container:hover,
.fancybox-image-container:active,
.fancybox-image-container:visited {
    text-decoration: none;
}

.record-link {
    font-size: 18px;
}

.watch-record-btn:link,
.watch-record-btn:active,
.watch-record-btn:visited,
.watch-record-btn:hover {
    display: block;
    text-decoration: none;
    background: url("../img/watch-btn.png") no-repeat;
    text-align: center;
    color: #ffffff;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    background-size: contain;
    margin-left: 10px;
    float: left;
    padding: 12px 10px 20px;
    width: 170px;
}

.youtube-over {
    width: 90px;
    height: 50px;
    position: absolute;
    z-index: 9999;
    bottom: 40px;
    right: 6px;
}

p.header-audience {
    font-family: PTSans;
    color: white;
    text-align: left;
    margin-bottom: 5px;
}

.webinar-material {
    color: white;
    border-bottom: 1px solid #ffffff;
    display: inline;
    font-family: PTSans;
    cursor: pointer;
    font-size: 13px;
    line-height: 16px;
}

.material-list {
    overflow-y: auto;
    max-height: inherit;
}

.webinar-meterial-block {
    display: none;
    width: 530px;
    max-height: 500px;
    position: absolute;
    background-color: white;
    background-size: cover;
    z-index: 100;
    border-radius: 3px;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 70px;
    left: 64%;
    /*overflow-y: auto;*/
}

.webinar-meterial-block h4 {
    margin-left: 15px;
}

.webinar-meterial-block > img {
    position: absolute;
    top: -26px;
    left: 230px;
    z-index: 100;
}

.webinar-material-item {
    font-family: PermianSansTypeface;
    font-weight: bold;
    padding-left: 40px;
}

.webinar-material-item p {
    margin-bottom: 2px;
}

[data-room_id="784"] .conference-name {
    display: none;
}