/* NEED IT */

#IISHI {
    display: none;
}

img.IPII {
    /*width: 200px;
    height: 160px;*/
    width: 55px;
    height: 55px;

}

img.IPII_list:hover {
    background: url("/img/minus.png") no-repeat 0 0;
}

/* END */