.login-wrap {
    background-color: #fff;
    border-radius: 3px;
    width: 800px;
    margin: auto;
    box-shadow: -1px 0 33px 0 rgba(0,0,0,0.75);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.link-new-pass {
    padding-top: 7px;
}

.link-new-pass a:hover,
.link-new-pass a:active,
.link-new-pass a:visited,
.link-new-pass a:link {
    font-size: 14px;
    color: #00669c;
    text-decoration: none;
}

.remember {
    margin-top: 10px;
    margin-bottom: 10px;
}

.remember input {
    margin-right: 10px;
}