/*div {
	border: 1px solid #000000;
}*/
body{
	font-size: 13px;
	font-family: "Arial";
	background: #1f2831;
}

.header{
	position: relative;
	box-shadow: 0.5px 0.866px 0px 0px rgba(255, 255, 255, 0.09);
	/*background: #1f2831;*/
	color: #ffffff;
	height: 50px;
	z-index: 601;
}
.logo{
	position: relative;
	padding: 5px 5px 5px 0px;
	height: 50px;
}
.logo-base{
	position: relative;
	top: 5px;
	z-index: 644;
}
.logo-text{
	position: relative;
	left: 45px;
	top: -30px;
	line-height: 0.5;
}
.foreven {
	margin-left: -28%;
	margin-top: 10px;
 	font-size: 28px;
 	font-family: "Cuprum";
 	color: rgb(255, 255, 255);
 	font-weight: bold;
 	-moz-transform: matrix( 0.56484269460395,0,0,0.74365325077399,0,0);
 	-webkit-transform: matrix( 0.56484269460395,0,0,0.74365325077399,0,0);
 	-ms-transform: matrix( 0.56484269460395,0,0,0.74365325077399,0,0);
}
.organization-of-international-conferences {
	margin-top: -7px;
 	font-size: 10px;
 	color: rgb(160, 159, 159);
}
.logout {
	position: relative;
	padding: 5px;
	color: #ffffff;
	height: 50px;
	text-align: right;
	color: rgb(255, 255, 255);
}
.logout-gmail{
    display: inline-block;
    font-size: 10px;
    position: relative;
    right: 33px;
    text-align: left;
    top: 10px;
    z-index: 639;
}
.logout-gmail a{
	text-decoration: none;
	color: rgb(255, 255, 255);
}
.logout-exit {
	background: url("../img/circle.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    font-size: 10px;
    height: 22px;
    padding-top: 3px;
    position: relative;
    right: 30px;
    top: 10px;
    width: 35px;
}
.logout-exit a{
	text-decoration: none;
	color: rgb(255, 255, 255);
}

.conference{
	position: relative;
	box-shadow: 0.5px 0.866px 0px 0px rgba(255, 255, 255, 0.09);
	background: #1f2831;
	color: #ffffff;
	font-size: 13px;
	height: 52px;
}
.text-center{
	margin-top: 15px;
	color: rgb(255, 255, 255);
	line-height: 1.5;
	text-align: left;
}
.dropdown{
	padding-right: 20px;
	margin-top: 15px;
}
.btn{
	margin-top: 8px;
}
.product{
	padding-left: 20px;
	margin-top: 5px;
	font-size: 10px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 0.5;
	text-align: left;
}
.today{
	margin-top: 5px;
	font-size: 10px;
	color: rgb(237, 214, 180);
	font-weight: bold;
	line-height: 0.5;
	text-align: left;
}
.separator{
	position: absolute;
	left: 0px;
	top: 10px;
	width: 1px; 
	height: 30px;
}
.records{
	padding-left: 20px;
	margin-top: 5px;
	font-size: 10px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 0.5;
	text-align: left;
}
.all {
	font-size: 10px;
	color: rgb(160, 159, 159);
	line-height: 0.5;
	text-align: left;
}
.number {
	font-size: 10px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 0.5;
	text-align: left;
}

.content-main{
	padding: 30px 30px 15px 15px;
	margin-left: 300px;
	left: 0px;
	top: 0px;
	font-size: 13px;
	background: #ffffff;
}
.content-room{
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 550px;
}
.room-status{
	margin-bottom: 20px;
}
.content-room-help{
	padding-top: 15px;
	padding-left: 30px;
	font-size: 10px;
	line-height: 1.2;
	color: rgb(51, 51, 51);
	text-align: left;
}
.content-speakers{
	padding: 40px 10px 20px 20px;
}
.content-speaker{
	position: relative;
	float: left;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 98%;
}
#photo-btn{
	display: none;
}
.speaker-info{
	line-height: 1;
}

.speaker-info-structure{
	margin-left: -17px;
}
.speaker-info-structure br{
	margin-top: 3px;
}
.speaker-action{
	position: absolute;
	right: 30px;
	display: none;
}
.content-speakers-help{
	padding-top: 10px;
	padding-left: 15px;
	font-size: 10px;
	line-height: 1.2;
	color: rgb(51, 51, 51);
	text-align: left;
}


.content-banners{
	padding: 20px 10px 20px 20px;
}

.content-links{
	margin: 10px 0px 10px 30px;
	padding: 12px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #dcdcdc;
	font-size: 10px;
	line-height: 0.3;
	height: 90px;
}
.content-links a{
	text-decoration: underline;
	color: rgb(54, 54, 54);
}
.content-info-text {
	margin-top: 13px;
	margin-bottom: 13px;
	color: rgb(0, 0, 0);
	line-height: 2;
	text-align: right;
}
.form-control{
	margin: 10px 0 10px 0;
}
.content-title{
	font-size: 16px;
	color: rgb(54, 54, 54);
	font-weight: bold;
	line-height: 3;
	text-align: left;
}
.content-edit, .edit-speaker{
	position: relative;
	float: left;
	width: 100%;
	-moz-border-radius: 5px;
	-moz-border-width: 2px;
	-moz-border-style: solid;
	-moz-border-color: rgb(255, 204, 51);
	border-radius: 5px;
	border-width: 2px;
	border-style: solid;
	border-color: rgb(255, 204, 51);
	margin-left: -1%;
	padding: 1%;
}
#content-edit-time{
	background: url(/img/icon/time1.png) no-repeat 53px 6px;
}
.content-info-delete, .content-info-edit{
	display: inline-block;
	margin: 5px;
}
.content-info-delete-box{
	background: url("../img/body-delete.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
    height: 100px;
    margin-top: 30px;
    padding: 20px 10px 0;
    position: absolute;
    right: -40px;
    text-align: center;
    display: none;
}
.delete-box-btn{
	margin: 5px;
	width: 60px;
}
/*.btn-warning{
	width: 130px;
	height: 40px;
	font-size: 20px;
	color: #000000; 
	margin-top: -170px;
	margin-left: 330px;
}*/
/*.content-banner{
	position: relative;
	float: left;
	width: 98%;
}*/
.banner{
	float: left;
	padding-top: 10px;
}
/*.banner-text{
	position: relative;
	margin-top: -80px;
	margin-left: 20px;
	font-size: 24px;
	font-family: "OpenSans";
	color: rgb(255, 255, 255);
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.255);
	width: 200px;
}*/
.new-banner{
	position: relative;
	left: 15px;
	top: 0px;
	width: 300px;
	height: 60px;
	-moz-border: 1px solid #000000;
	border: 1px solid #000000;
	margin-top: 10px;
	float: left;
}
.review{
	margin-left: 50px;
	margin-top: 15px;
}


.menu{
	position: relative;
	left: 0px;
	top: 0px;
}
.menu-level_two-rel{
	position: relative;
}

.menu-level_two{
	position: absolute;
	width: 300px;
	left: 0px;
	top: 0px;
	color: #ffffff;
}
.menu-level_two-main{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 69px;
	background: #1f2831;
	z-index: 400;
	display: block;
}
.item-level_two-main, .item-level_two-main:visited, .item-level_two-main:link{
	position: relative;
	left: 30px;
	text-decoration: none;
	color: rgb(255, 255, 255);
	line-height: 2;
	text-align: left;
	background: #1f2831;
	padding: 5px 12px 5px 12px;
	width: 39px;
}
.item-level_two-main:hover{
	cursor: pointer;
	text-decoration: none; 
	background: #2c3640;
	color: rgb(255, 255, 255);
}
#item-3{
	border-top: 1px solid rgba(255, 255, 255, 0.09);
	border-left: 1px solid rgba(255, 255, 255, 0.09);
	border-bottom: 1px solid rgba(255, 255, 255, 0.09);
	-moz-border-top: 1px solid rgba(255, 255, 255, 0.09);
	-moz-border-left: 1px solid rgba(255, 255, 255, 0.09);
	-moz-border-bottom: 1px solid rgba(255, 255, 255, 0.09);
	width: 40px;
	z-index: 1000;
}
.menu-level_two-dropdown{
	position: absolute;
	padding-left: 5px;
	top: 0px;
	left: 70px;
	background: #1f2831;
	box-shadow: -1px 0px 0px 0px rgba(255, 255, 255, 0.09);
	width: 230px;
	z-index: 300;
	display: block;
}
.item-level_two-dropdown, .item-level_two-dropdown:visited, .item-level_two-dropdown:link{
	position: relative;
    display: block;
	left: 0px;
	text-decoration: none;
	color: rgb(255, 255, 255);
	line-height: 2;
	text-align: left;
	background: #1f2831;
	padding: 5px;
}
.item-level_two-dropdown:hover{
	cursor: pointer;
	text-decoration: none; 
	background: #2c3640;
	color: rgb(255, 255, 255);
}
.item-delete{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 25px;
	display: none;
}

.menu-level_one{
	position: absolute;
	width: 300px;
	left: 0px;
	top: 0px;
	background: #1f2831;
	color: #ffffff;
	z-index: 600;
	display: none;
}
.item-level_one, .item-level_one:visited, .item-level_one:link{
	position: relative;
	left: 30px;
	text-decoration: none;
	color: rgb(255, 255, 255);
	line-height: 2;
	text-align: left;
	background: #1f2831;
	padding: 5px;
	width: 250px;
}
.item-level_one:hover{
	cursor: pointer;
	text-decoration: none; 
	background: #2c3640;
	color: rgb(255, 255, 255);
}
.item-numb{
	position: absolute;
	right: 0px;
	top: 10px;
	width: 50px;
}
.item-date{
	margin: 0px;
	font-size: 10px;
	font-family: "Arial";
	color: rgb(160, 159, 159);
	line-height: 1;
	text-align: left;
}
.item-topic{
	margin: 0px;
	line-height: 1;
	text-align: left;
}

.footer{
	position: relative;
	top: 20px;
	color: rgb(96, 96, 96);
}
.footer-foreven{
	font-size: 111.565px;
	font-family: "Cuprum";
	font-weight: bold;
	line-height: 0.1;
	-moz-transform: matrix( 0.13445021686827,0,0,0.21145021686827,0,0);
	-webkit-transform: matrix( 0.13445021686827,0,0,0.21145021686827,0,0);
	-ms-transform: matrix( 0.13445021686827,0,0,0.21145021686827,0,0);
	margin-left: -76%;
}
.footer-Organization{
	font-size: 10px;
	font-family: "Arial";
}
.form-help{
	line-height: 0.3;
	font-size: 10px;
	margin-top: 14px;
}

/*add.html*/
.content-add{
	position: relative;
	padding: 30px 240px 30px 140px;
	font-size: 13px;
	font-family: "Arial";
	color: rgb(0, 0, 0);
	background: #ffffff;
}
.content-add-conf{
  font-size: 19px;
  font-family: "Arial";
  
  font-weight: bold;
  line-height: 1.947;
  text-align: left;
  z-index: 115;
}
.content-add-label{
	position: relative;
	left: 0px;
	top: 0px;
	text-align: right;
	
	line-height: 1;
}
.control-label p{
	position: relative;
  font-size: 10px;
  color: rgb(51, 51, 51);
  line-height: 1;
  text-align: right;
}
.content-add-conf-link{
	position: relative;
	left: 20px;
  font-size: 10px;
  line-height: 0.7;
  color: rgb(51, 51, 51);
  text-align: left;
}
.content-add a:link{
	text-decoration: underline;
}
.content-add-conf-justClick {
  font-size: 16px;
  color: rgb(54, 54, 54);
  font-weight: bold;
  line-height: 0.5;
  text-align: left;
  margin-top: 50px;
}

.loading-speakers {
    display: none;
    width: 100%;
    height: 100%;
    background: #000000 url("/img/loading.gif") no-repeat center;
    opacity: 0.3;
    position: fixed;
    z-index: 10000;
}

.content-banner {
    width: 98%;
    margin-bottom: 20px; !important;
}

.review-banner {
    margin-left: 40px;
    margin-top: 20px;
}

.edit-banner {
    height: 520px;
    width: 100%;
    -moz-border-radius: 5px;
    -moz-border-width: 2px;
    -moz-border-style: solid;
    -moz-border-color: rgb(255, 204, 51);
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 204, 51);
    margin-left: -1%;
    padding: 1%;
    margin-bottom: 20px;
}

.wrap-banner {
    float: left;
    height: 95px;
    width: 480px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 10px;
}

.wrap-banner-action {
    height: 95px;
}

.banner-action {
    text-align: right;
    padding-top: 30px;
}

.banner-text {
    float: left;
    font-size: 20px;
    font-family: "OpenSans";
    width: 320px;
    margin-top: 30px;
}

.banner-button {
    width: 130px;
    width: 130px;
    height: 40px;
    margin-top: 25px;
}

.edit-banner {
    margin-bottom: 20px;
}

.show-banner-on-webinar .checkbox {
    text-align: left;
}

.pseudo_user_online_label,
.pseudo_user_online_caption {
    text-align: center;
}

li {
    list-style-image: url(../img/icon/check.png);
}

ul {
    margin-left: -40px;
}