/*.reg-wrap {
    position: absolute;
    background-color: #fff;
    border-radius: 3px;
    height: 450px;
    width: 800px;
    margin: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: -1px 0 33px 0 rgba(0,0,0,0.75);
}*/
.reg-wrap {
    background-color: #fff;
    border-radius: 3px;
    width: 800px;
    box-shadow: -1px 0 33px 0 rgba(0,0,0,0.75);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
}