.remind-wrap {
    background-color: #fff;
    border-radius: 3px;
    width: 800px;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: -1px 0 33px 0 rgba(0,0,0,0.75);
}

.restore-hint p {
    font-size: 17px;
    text-align: center;
}