.header {
    margin-top: 20px;
    margin-bottom: 40px;
}

.header-logo {
    width: 210px;
    height: 85px;
    margin-right: 20px;
    background: url(../img/logo-header.png);
    background-repeat: no-repeat;
}

.hader-label {
    font-size: 26px;
    font-weight: 700;
    line-height: 28px
}

.speaker-img > img {
    display: block;
    border-radius: 50%;
    margin-left: -15px;
}

.speaker-item {
    margin-bottom: 20px;
}

.webinar-date {
    font-size: 16px;
    color: #f98216;
    font-weight: bold;
}

.webinar-time {
    font-size: 14px;
    color: #666666;
}

.speaker-name {
    font-size: 14px;
    color: #414141;
    font-weight: 700;
}

.speaker-theme {
    font-size: 16px;
    color: #000000;
    font-weight: bold;
}

.speaker-items > p {
    font-size: 14px;
    color: #000000;
    font-weight: 700;
}

.speaker-items a:link,
.speaker-items a:hover,
.speaker-items a:active,
.speaker-items a:visited {
    color: #056db6;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid #888888;
    text-decoration: none;
}

li {
    list-style-image: url(../img/icon/check.png);
}