* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a:link,
a:hover,
a:active,
a:visited {
    color: #1ABBFF;
    text-decoration: underline;
}

html{
    font-size: 1em;
    font-family: Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.content_days a:link,
.content_days a:hover,
.content_days a:visited,
.content_days a:active {
    text-decoration: none;
    outline: none;
    color: #ffffff;
}
img {
    border: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td, th {
    padding: 0;
}

.left-block {
    background: #d97733 url(/img/garden_bg.png) no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*Классы для страницы*/

.header{
    background: #000;
    background-image: -moz-radial-gradient(at top, #310b06 0%, #000 80%);
    background-image: -webkit-radial-gradient(at top, #310b06 0%, #000 80%);
    background-image: -o-radial-gradient(at top, #310b06 0%, #000 80%);
    background-image: -ms-radial-gradient(at top, #310b06 0%, #000 80%);
    background: radial-gradient(at top, #310b06, #000 80%);
    height: 60px;
    position: relative;
}
.header_social_webs{
    vertical-align: top;
    display: inline-block;
    position: relative;
    left: 50%;
    margin-left: -182px;
    width: 365px;
    height: 40px;
    padding-top: 10px;
}
.header_lk{
    float: right;
    height: 50px;
    width: 150px;
    margin-right: 10px;
    padding-top: 10px;
    text-align: left;
}
.header_lk a{
    display: block;
    width: 140px;
    height: 22px;
    background-color: #b3b3b3;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-align: center;
    font-size: 16px;
    font-family: font_n1, sans-serif;
    color: #000;
}
.header_lk p{
    font-family: font_n1, sans-serif;
    font-size: 12px;
    padding-top: 2px;
    padding-left: 8px;
    color: #fff;
}


.greeting-speaker{
    vertical-align: top;
    padding-top: 50px;
}
.content_block{
    width: 62%;
    margin: auto;
}
.content_header{
    color: #fff;
}
.content_header_image{
    display: inline-block;
    vertical-align: top;
    margin-right: 2%;
    line-height: 0.0;
}
.content_header_image img{
    /*width: 100%;
    height: auto;*/
}
.content_header_info{
    display: inline-block;
    vertical-align: top;
    width: 60%;
    font-family: font_n11, sans-serif;
}
.content_header_info_title{
    font-size: 32px;
}
.content_header_info_label{
    font-size: 26px;
}

.content_days{
    width: 65%;
    margin-left: 24%;
    padding-top: 45px;
    color: #fff;
}
.content_days_class{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-family: font_n1, sans-serif;
    width: 27%;
}
.content_days_left{
    margin-right: 8%;
}
.content_days_current{
    position: relative;
}
.content_days_right{
    margin-left: 8%;
}
.content_days_label{
    display: inline-block;
    font-size: 20px;
    margin-bottom: 2px;
    border-bottom: 1px solid #eee;
}
.content_days_link{
    color: #fff;
}
.content_days_info{
    font-size: 16px;
}
.content_days_circle{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -10%;
    margin-left: 20%;
    width: 58%;
    height: 0;
    padding-bottom: 58%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: transparent;
    background: rgba(220,220,220,0.2);
    z-index: -1;
}
.content_days_current .content_days_label{
    font-size: 24px;
    border: none;
}
.content_days_current .content_days_info{
    font-size: 20px;
}

.content_speakers{
    padding-top: 60px;
    color: #fff;
}
.content_speaker_row{
    padding-bottom: 50px;
}
.content_speaker_class{
    display: inline-block;
    vertical-align: top;
}
.content_speaker_image{
    width: 110px;
    margin-left: 4%;
    line-height: 0.0;
    margin-right: 50px;
}
.content_speaker_image img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 7px solid #ffffff;
}
.content_speaker_time{
    width: 8%;
    font-family: font_n3, sans-serif;
    font-size: 14px;
}
.content_speaker_info{
    display: inline-block;
    vertical-align: top;
    width: 65%;
    font-family: font_n1, sans-serif;
}

.content_speaker_name{
    font-size: 20px;
}
.content_speaker_theme{
    font-family: font_n11, sans-serif;
    font-size: 26px;
    width: 80%;
    padding-bottom: 15px;
}
.content_speaker_help_info{
    font-size: 16px;
    padding-bottom: 10px;
}
.content_speaker_link{
    font-size: 20px;
    color: #fff;
    border-bottom: 1px dotted #888;
    cursor: pointer;
}
.content_speaker_link:hover{
    border: none;
}
.content_speaker_materials{
    padding-top: 10px;
    padding-left: 20px;
}

.content_speaker_meterials_item{
    padding-left: 10px;
}


.comments_and_sell{
    float: right;
    width: 25%;
}
.sell_webinar{
    width: 100%;
    background: #2868b6;
    margin: auto;
    line-height: 0.0;
}
.sell_webinar img{
    width: 100%;
    height: auto;
}
.comments{
    margin: auto;
}

.room-content > h1,
.conference-name,
.conference-date,
.conference-region,
.speaker-theme > p,
.speaker-name > p,
.info-cost > p,
.info-title,
.info-text,
.info-price.old-price,
.content-10minbreak p,
.content-technical p,
.left-block > h1 {
    color: #ffffff;
}

@media screen and (max-width: 1600px){
    /*Сужаем размер основного блока*/
    .content_block{
        width: 76%;
    }
}
@media screen and (max-width: 1280px){
    /*Сужаем размер основного блока*/
    .content_block{
        width: 90%;
    }
    /*Изменяем размер блока дней*/
    .content_days{
        width: 69%;
    }
}
@media screen and (max-width: 1024px){
    /*Увеличиваем размер блока комментариев за счет блока содержания*/
    .content{
        width: 68%;
    }
    .comments_and_sell{
        width: 32%;
    }
    /*Изменяем смещение блока с датами и размер текста в них*/
    .content_days {
        margin-left: 27%;
    }
    .content_days_label{
        font-size: 18px;
    }
    .content_days_info{
        font-size: 14px;
    }
    .content_days_current .content_days_label{
        font-size: 22px;
    }
    .content_days_current .content_days_info{
        font-size: 15px;
    }

    /*Изменяем размеры блоков с текстом у спикеров*/
    .content_speaker_image{
        margin-left: 2%;
        width: 100px;
    }
    .content_speaker_time{
        width: 6%;
        margin: 0 2% 0 0;
        text-align: center;
    }


    /*Изменяем параметры текста в блоках со спикерами*/
    .content_speaker_name{
        font-size: 18px;
    }
    .content_speaker_theme{
        font-size: 22px;
    }
    .content_help_info{
        font-size: 14px;
    }
}
@media screen and (max-width: 768px){
    /*Делаем модификацию заголовка переносом кнопки личного кабинета*/
    .header {
        height: 100px;
    }
    .header_lk{
        float: none;
        margin: auto;
        padding-top: 15px;
    }
    /*Изменяем смещение блока с датами */
    .content_days {
        margin-left: 25%;
    }
    /*Перенос блока комментариев вниз и уменьшение блока с фотографией, увеличение до полного размера блока с информацией*/
    .content{
        width: 100%;
    }
    .comments_and_sell{
        width: 100%;
        float: none;
    }
    .sell_webinar{
        width: 70%;
    }
    .content_block{
        width: 100%;
    }
    /*Изменения в тексте блока спикеров, сужаем блоки основного текста, прижимаем картинку*/
    .content_speaker_image{

    }
    .content_speaker_info{
        width: 66%;
    }
    .content_speaker_theme{
        width: 90%;
    }

}
@media screen and (max-width: 480px){
    /*Перенос логотипа в центр*/
    .content_header_image{
        width: 209px;
        display: block;
        padding-bottom: 10px;
        margin: auto;
    }
    .content_header_info{
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    /*Изменяем смещение блока с датами и его размер, а также размер текста у дат*/
    .content_days {
        margin-left: 0%;
        width: 100%;
        padding: 10px;
    }
    .content_days_label{
        font-size: 16px;
    }
    .content_days_info{
        font-size: 13px;
    }
    .content_days_current .content_days_label{
        font-size: 18px;
    }
    .content_days_current .content_days_info{
        font-size: 13px;
    }
    .content_days_class{
        width: 29%;
    }
    .content_days_left{
        margin-right: 4%;
    }
    .content_days_right{
        margin-left: 4%;
    }
    /*Перевод блока спикеров на мобильный вариант*/
    .content_speaker_row{
        text-align: center;
    }
    .content_speaker_image{
        width: 110px;
        padding-bottom: 10px;
        margin-right: 20%;
    }
    .content_speaker_time{
        font-size: 18px;
    }
    .content_speaker_info {
        display: block;
        width: 100%;
        padding: 10px;
    }
    /*Возврат картинки покупки к обычному состоянию*/
    .sell_webinar{
        width: 100%;
    }
}





