@font-face {
    font-family: "PermianSansTypeface";
    src: url("../fonts/PermianSansTypeface/permiansanstypeface.eot");
    src: local('☺'), 
        url("../fonts/PermianSansTypeface/permiansanstypeface.eot?#iefix") format("embedded-opentype"), 
        url("../fonts/PermianSansTypeface/permiansanstypeface.woff") format("woff"),
        url("../fonts/PermianSansTypeface/permiansanstypeface.ttf") format("truetype"), 
        url("../fonts/PermianSansTypeface/permiansanstypeface.svg#PermianSansTypeface") format("svg");
  font-weight: normal;
  font-style: normal;
}