body, html {
    height: 100%;
}

header {
    background-color: #000000;
    position: relative;
}

.header-text {
    display: inline-block;
    font-family: PermianSansTypeface;
    font-weight: bold;
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
}

.header-speakers ul {
    list-style-type: none;
    padding: 0;
}

.header-speakers {
    font-family: PermianSansTypeface;
    font-weight: bold;
    color: #ffffff;
    font-size: 14px;
}

.header-speakers span {
    font-family: PermianSansTypeface;
    color: #b3b3b3;
    font-size: 12px;
    font-style: italic;
}

.header-schedule > a:link,
.header-schedule > a:hover,
.header-schedule > a:active,
.header-schedule > a:visited {
    font-family: PermianSansTypeface;
    font-weight: bold;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
}

.likely, .pc-client, 
.header-logo, .header-speakers,
.header-conference, .header-schedule,
.tech-trouble, .refresh-button {
    margin-top: 0.4vw;
}

.refresh-button:link,
.refresh-button:hover,
.refresh-button:visited,
.refresh-button:active {
    font-family: PermianSansTypeface;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    border: 2px #ffffff solid;
    border-radius: 4px;
    text-align: center;
    padding: 2px 20px;
}

.tech-trouble a:link,
.tech-trouble a:hover,
.tech-trouble a:visited,
.tech-trouble a:active {
    font-family: PermianSansTypeface;
    font-weight: bold;
    color: #ffffff;
    font-size: 14px;
    border-bottom: 1px solid #ffffff;
    text-decoration: none;
}

.tech-trouble > .row, 
.pc-client-button {
    margin-bottom: 5px;
}

.tech-trouble span {
    display: block;
    font-family: PermianSansTypeface;
    color: #ffffff;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
}

.pc-client-btn-wrap,
.pc-client-hint > div{
    margin-bottom: 5px;
    text-align: right;
}

.pc-client-button:link,
.pc-client-button:hover,
.pc-client-button:visited,
.pc-client-button:active {
    text-decoration: none;
    font-family: PermianSansTypeface;
    font-weight: bold;
    color: #000;
    font-size: 16px;
    background-color: #bbb;
    padding: 2px 10px;
    border-radius: 2px;
    line-height: 20px;
}

.pc-client-hint span {
    display: block;
    font-family: PermianSansTypeface;
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
}

.banner:link,
.banner:active,
.banner:visited,
.banner:hover {
    display: block;
    height: 7vw;
    background: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.vk-comments {
    background: url(../img/vk-chat.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 26vw;
}

.left-block {
    padding: 0;
}

.left-block > iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}